<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">

        {% block style %}
            <link rel="preload" href="/css/main.css" as="style" type="text/css">
            <link rel="stylesheet" href="/css/main.css">
        {% endblock %}

        <link rel="preload" href="/fonts/BalsamiqSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
        <link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">

        {% block head %}{% endblock %}

        {# Allow search engines to crawl certain pages #}
        {% if index === false %}
            <meta name="robots" content="none">
            <meta name="googlebot" content="none">
        {% else %}
            <meta name="robots" content="index, follow">
            <meta name="googlebot" content="index, follow">
        {% endif %}

        {# Social cards (twitter, open graph) #}
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}">
        <meta property="og:locale" content="en_US"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ page.url | fullUrl }}"/>

        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:domain" content="funwithmeth.com">
        <meta name="twitter:url" content="{{ page.url | fullUrl }}">

        {% if page_image %}
            {% set preview_image = page_image%}
            <meta name="twitter:card" content="summary_large_image">

            <meta property="og:image" content="{{ preview_image.url | fullUrl }}"/>
            <meta property="og:image:type" content="{{ preview_image.type }}"/>
            <meta property="og:image:alt" content="{{ preview_image.alt }}"/>

            <meta name="twitter:image" content="{{ preview_image.url | fullUrl }}">
            <meta name="twitter:image:alt" content="{{ preview_image.alt }}"/>
        {% endif %}

        {# Other assorted tags #}
        <meta name="twitter:dnt" content="on">
        <meta name="pinterest" content="nopin">
        <meta name="format-detection" content="telephone=no">
        <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <script async defer data-domain="funwithmeth.com" src="https://plausible.io/js/plausible.js"></script>
        {% include "_favicons.njk" %}
    </head>
    <body class="text-gray-900 bg-gray-50 dominoes">
        <div class="h-4 bg-gradient-to-r from-indigo-800 to-blue-400"></div>
        {% block baseContent %}
            <main class="max-w-3xl min-h-screen px-8 pt-12 pb-16 mx-auto mt-12 bg-opacity-50 bg-gray-50">
                <div class="prose prose-lg md:prose-xl mx-auto">
                    {% block contentContent %}
                        {{ content | safe }}
                    {% endblock %}
                </div>
            </main>
        {% endblock %}
        <footer class="flex items-center justify-center w-full py-4 mt-20 text-gray-100 bg-gray-800 dominoes-light">
            <div class="w-full my-8 text-center">
                <p class="text-lg">Fun With Meth © 2023</p>
                <p class="mt-4 mb-2 text-lg">A web project by <a href="https://tomichen.com" class="underline">Tomi Chen.</a>
                </p>
            </div>
        </footer>
    </body>
</html>
